* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width:24px;
    height:24px;
    object-fit: cover;
}

ce-player-list.bigGrid {
    display: grid;
    width: 100vw;
    height: 40vh;
    grid-template-columns: repeat(2,45vw);
    grid-auto-rows: 20%;
    grid-auto-flow: row;
    grid-gap: 2.5vw;
    padding-left: 0;
    position: relative;
}

ce-player-list.bigGrid ce-player{
    height: 100%;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	overflow: hidden;
	position: relative;
}

ce-player-list.bigGrid ce-player .name {
    position: absolute;
}

ce-player-list.smallList {
    width: 40vw;
    height: 20vw;
    position: absolute;
    top:0;/*Topbar height*/
    right:0;
}

ce-player-list.smallList .ready {
    display: none;
}

ce-player-list.smallList .avatar {
    position: absolute;
    width: 24px;
    height: 24px;
}

ce-player-list.smallList .name {
    position: absolute;
    left:24px;/*avatar width*/
}

ce-player-list.smallList ce-player {
    position: relative;
	display: block;
	height: 24px;
}

ce-card-display img {
    width:70vw;
    height: unset;
    margin-left:5vw;
}

ce-popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
    background-color: rgba(0, 0, 0, 0.25);
}

ce-popup div {
    z-index: 100;
	position: absolute;
	top: 20vh;
	left: 10vw;
	width: 80vw;
	padding: 10vw;
	background: skyblue;
}

ce-avatar-upload > * {
    margin-right: 5vw;
}