img {
    width:24px;
    height:24px;
    object-fit: cover;
}

ce-player-list.bigGrid {
    display: grid;
    width: 80vw;
    height: 40vh;
    grid-template-columns: repeat(2,55%);
    grid-auto-rows: 20%;
    grid-auto-flow: row;
    grid-gap: 2.5%;
    overflow: visible;
    position: relative;
}

ce-player-list.bigGrid ce-player{
    height: 100%;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	overflow: hidden;
	position: relative;
}

ce-player-list.bigGrid ce-player .name {
    position: absolute;
}

ce-player-list.smallList {
    width: 24px;
    position: absolute;
    top:calc(32px + 2vw);/*Menu button height*/
    background-color: rgba(0, 0, 0, 0.25);
    right:0;
    overflow: hidden;
    z-index: 1;
}

ce-player-list.smallList .ready {
    display: none;
}

ce-player-list.smallList .avatar {
    position: absolute;
    width: 24px;
    height: 24px;
}

ce-player-list.smallList .name {
    position: absolute;
    left:24px;/*avatar width*/
    font-size:medium;
}

ce-player-list.smallList ce-player {
    position: relative;
	display: block;
	height: 24px;
}

ce-card-display {
    overflow: visible;
}

ce-card-display img {
    width:60vw;
    height: unset;
    margin-left:10vw;
}

ce-popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
    background-color: rgba(0, 0, 0, 0.25);
}

ce-popup div {
    z-index: 100;
	position: absolute;
	top: 20vh;
	left: 10vw;
	width: 80vw;
	padding: 10vw;
	background: skyblue;
}

ce-avatar-upload > * {
    margin-right: 5vw;
}

ce-rule-display > p {
    text-align: center;
}

.roominfo {
    display: block;
    font-size: 17pt;
    float: left;
}