* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width:32px;
    height:32px;
}

ce-player-list.bigGrid {
    display: grid;
    width: 100vw;
    height: 40vh;
    grid-template-columns: repeat(2,45vw);
    grid-auto-rows: 20%;
    grid-auto-flow: row;
    grid-gap: 2.5vw;
    padding-left: 3.5vw;
    position: relative;
}

ce-player-list.bigGrid ce-player{
    height: 100%;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	overflow: hidden;
	position: relative;
}

ce-player-list.bigGrid ce-player .name {
    position: absolute;
}

ce-player-list.smallList {
    width: 40vw;
    height: 20vw;
    position: absolute;
    top:0;/*Topbar height*/
    right:0;
}

ce-player-list.smallList .ready {
    display: none;
}

ce-player-list.smallList .avatar {
    position: absolute;
    width: 24px;
    height: 24px;
}

ce-player-list.smallList .name {
    position: absolute;
    left:24px;/*avatar width*/
}

