:host {
    display: block;
    position: absolute;
    border-radius: 1000px;
    color: yellow;
    z-index: 5;
    font-size: 26pt;
    text-align: center;
    line-height: 270%;
    opacity: 0.9;
    background-color: var(--red);
    width: 21.825vw;
    height: 21.825vw;
    right: 6.25%;
}

p {
    display: block;
    position: absolute;
    border-radius: 1000px;
    color: yellow;
    z-index: 5;
    font-size: 26pt;
    text-align: center;
    line-height: 270%;
    opacity: 0.9;
    width: 21.825vw;
    height: 21.825vw;
    margin: 0;
}