* {
    color: var(--text-color);
    box-sizing: border-box;
    overflow: inherit;
}

input {
    color: black;
    font-family: sans-serif;
    font-size: large;
    position: relative;
    text-align: center;
}

p {
    pointer-events: none;
}

p.label {
    font-size: large;
    width: 80%;
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

button {
    border: none;
    background-color: var(--blue);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}

button.small {
    padding: 2%;
    float: right;
    height: 32px;
}

button.big {
    font-size: large;
    float: left;
    min-height: 40px;
}

button:disabled:not(.keep-color) {
    background-color: var(--grey);
}

.big {
    margin: 1vh 0 1vh 10%;
    font-size: large;
    width: 80%;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

.black {
    background-color: var(--black);
}

.purple {
    background-color: var(--purple);
}

.grey {
    background-color: var(--grey);
}

.fb {
    background-color: var(--facebook);
}